body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    display: grid;
    justify-content: center;
    gap: 20px;
    margin: 0px;
    margin-top: 60px;
}

a, p, h1, h2, h3{
    margin: 0;
}

.title{
    justify-self: center;
}

.menu, a{
    color: black;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.botao{
    display: block;
    justify-self: end;
    text-transform: uppercase;
    background: #ee2211;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
}

a{
    margin: 0px;
    text-align: center;
    padding: 20px 20px;
    width: 100px;
    background: #fff;
    text-decoration: none;
}

.subtitulo{
    padding: 40px;
    display: block;
    font-size: 64px;
    color: #c6c6c6;
    text-align: right;
    align-self: center;
}

.bicicleta{
    display: block;
    max-width: 100%;
}

.introducao{
    display: grid;
    position: relative;
    align-content: center;
    text-align: right;
    justify-items: end;
    background: #fff;
    padding: 40px;
}


.vantagens{
    padding: 20px;
    margin: 0px;
    background: #fff;
}

.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}
.vantagens-item, .itens{    
    grid-column: 2;
}

.conteudo{
    gap: 20px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
}

.vantagens, h2, p{
    padding: 20px;
}

.rodape{
    display: grid;
    box-sizing: border-box;
    padding: 40px;
    align-self: center;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
    